/* ==========================================
  BASE STYLES
========================================== */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.35em;
  padding-top: 4em;
}

img {
  max-width: 100%;
  width: 100%;
}

/* ==========================================
  FONTS
========================================== */
@font-face {
    font-family: 'Matchmaker';
    src: url('../fonts/matchmaker-webfont.woff2') format('woff2'),
         url('../fonts/matchmaker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

/* ==========================================
  LAYOUT CLASSES
========================================== */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
}

.flex-2 {
  flex-grow: 2;
}

/* ==========================================
  HEADER & NAVIGATION
========================================== */
header {
  background: #000000;
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header .logo {
  position: absolute;
  left: 50%;
  top: 0.4em;
  transform: translate(-50%, 0);
}

header .logo img {
  height: 7em;
}

/* ==========================================
  HERO
========================================== */

.hero {
  position: relative;
  width: 100%;
}

.hero .hero-text {
  position: absolute;
  max-width: 29em;
  bottom: 10em;
  left: 10em;
  color: #ffffff;
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 220px;
  width: 350px;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #191919;
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #000;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}​

.random {}

.hero-text .willy-icon {
  height: 3em;
  z-index: 3;
  position: absolute;
  margin-top: 2.2em;
}

.hero span {
  display: block;
  text-align: center;
}

.hero .curly-text {
  font-family: 'Matchmaker', 'Brush Script MT', cursive;
  color: #c6a546;
  font-size: 0.9em;
  line-height: 1.4em;
}

.hero .clean-text {
  font-size: 2em;
  text-transform: uppercase;
}

.hero .hero-text h1 {
  position: absolute;
  z-index: 3;
  font-size: 1.7em;
  width: 100%;
  margin-top: 3.8em;
  line-height: 2em;
}

.info {
  background: #191919;
  line-height: 1.6em;
  color: #ffffff;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin-top: -4px;
}

.info h2 {
  margin-top: 2em;
}

.info p {
  margin-bottom: 6em;
}

.info .curly-text {
  font-family: 'Matchmaker', 'Brush Script MT', cursive;
  color: #c6a546;
  font-size: 1.6em;
}

.info .red-text {
  color: #c6a546;
  font-weight: bold;
}

.info .clean-text {
  font-size: 0.9em;
  font-weight: 200;
}

.info .curly-text .superscript {
  font-size: 0.4em;
}

.products {
  padding: 4em 0;
  background: #111;
  color: #fff;
}

.product {
  padding: 0 1em;
}

.product-container {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  padding: 1em;
  background: #ffffff;
}

.product .product-image {
  border: 1px solid #eeeeee;
}

.product .switches {
  text-align: center;
  margin-top: 1em;
}

.product .switches button {
  background: #555;
  padding: 0;
  margin: 0;
  padding: 0.25em;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  outline: none;
  cursor: pointer;
}

.product .switches button.active {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
}

.product .switches span {
  width: 1.5em;
  height: 1.5em;
  background: #eeeeee;
  border-radius: 50%;
  display: block;
}

.product h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #c6a546;
}

.product .switches span.green {
  background: green;
}

.product .switches span.blue {
  background: blue;
}

.product .switches span.red {
  background: red;
}

.box {
  background: #f1f1f1;
}

.box h2 {
  text-align: center;
  padding-top: 2em;
  margin: 0;
}

.box .flex-1 {
  min-width: 33%;
  text-align: left;
  position: relative;
}

.box h3 {
  font-family: 'Matchmaker', 'Brush Script MT', cursive;
  font-size: 1.8em;
  margin: 0;
  margin-bottom: 0.5em;
}

.box .text-box {
  position: absolute;
  bottom: 6em;
  right: 0;
  font-size: 1.2em;
  line-height: 1.6em;
}

.box .number {
  background: #000;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  color: #c6a546;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 0.9em;
}

.box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}

.box ul li {
  margin-bottom: 0.25em;
}

/* ==========================================
  Footer
========================================== */
footer {
	background: #000000;
}

.socialmedia {
  width: 20%;
  margin: 2em auto;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.copyright {
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 2em;
}
