/* ==========================================
  BASE STYLES
========================================== */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding-top: 4em;
}

img {
  max-width: 100%;
  width: 100%;
}

/* ==========================================
  FONTS
========================================== */
@font-face {
    font-family: 'Matchmaker';
    src: url('fonts/matchmaker-webfont.woff2') format('woff2'),
         url('fonts/matchmaker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

/* ==========================================
  LAYOUT CLASSES
========================================== */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
}

.flex-2 {
  flex-grow: 2;
}

/* ==========================================
  HEADER & NAVIGATION
========================================== */
header {
  background: #000000;
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header .logo {
  position: absolute;
  left: 50%;
  top: 0.4em;
  transform: translate(-50%, 0);
}

header .logo img {
  height: 7em;
}

/* ==========================================
  HERO
========================================== */

.hero {
  position: relative;
  width: 100%;
}

.hero .hero-text {
  position: absolute;
  max-width: 29em;
  bottom: 10em;
  left: 10em;
  text-transform: uppercase;
  color: #ffffff;
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 220px;
  width: 350px;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #191919;
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #000;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}​

.random {}

.hero-text .willy-icon {
  height: 3em;
  z-index: 3;
  position: absolute;
  margin-top: 2.2em;
}

.hero span {
  display: block;
  text-align: center;
}

.hero .curly-text {
  font-family: 'Matchmaker', 'Brush Script MT', cursive;
  color: #c6a546;
  font-size: 0.8em;
}

.hero .clean-text {
  font-size: 2em;
}

.hero .hero-text h1 {
  position: absolute;
  z-index: 3;
  font-size: 1.7em;
  width: 100%;
  margin-top: 3.8em;
}

.info {
  background: #000000;
  line-height: 1.4em;
  color: #ffffff;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin-top: -4px;
}

.info .curly-text {
  font-family: 'Matchmaker', 'Brush Script MT', cursive;
  color: #c6a546;
  font-size: 1.6em;
}

.info .italic-text {
    font-weight: bold;
    font-size: 1.9em;
    font-family: 'Matchmaker', 'Brush Script MT', cursive;
    text-transform: lowercase;
}
.info .red-text {
  color: #c6a546;
}
.info .clean-text {
  font-size: 0.9em;
  font-weight: 200;
}

.info .curly-text .superscript {
  font-size: 0.4em;
}

.socialmedia {

}
